.App {
  text-align: center;
  padding: 5vh;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.MoviesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2vh;
}

.MoviesList-item{
  margin-bottom: 5vh;
  width: 30%;
}